<div class='sak32009'>
  <button
    type='button'
    class='btn btn-sake-primary me-2 rounded-0 rounded-top position-fixed bottom-0 end-0 d-flex align-items-center'
    data-bs-toggle='modal'
    data-bs-target='#{{appInfo.name}}'
  >
    <img src='{{skMainIcon}}' alt='{{appInfo.productName}} Main' style='width: 30px; height: auto;' />
    <span class='ms-1'>{{appInfo.productName}} v{{appInfo.version}}</span>
  </button>
</div>
