<div class='sak32009'>
  <div class='modal fade' id='{{appInfo.name}}'>
    <div class='modal-dialog modal-dialog-centered modal-lg'>
      <div class='modal-content text-bg-sake-primary'>
        <div class='modal-header flex-column border-0 text-center'>
          <div>
            <img class='modal-header-logo' src='{{skAuthorIcon}}' alt='{{appInfo.productName}} Author' />
          </div>
          <h5>{{appInfo.productName}} v{{appInfo.version}}</h5>
          <div class='flex-row'>
            <a href='https://github.com/Sak32009/GetDLCInfoFromSteamDB/' target='_blank'>@GetDLCInfoFromSteamDB</a>
            <span>-</span>
            <a href='https://github.com/Sak32009/SteamLauncher/' target='_blank'>@SteamLauncher</a>
            <span>-</span>
            <a href='https://github.com/Sak32009/SteamACFGenerator/' target='_blank'>@SteamACFGenerator</a>
          </div>
        </div>
        <div class='modal-body p-0'>
          {{#if isSteamDBApp}}
          {{> steamdbapp}}
          {{/if}}
          {{#if isSteamDBDepot}}
          {{> steamdbdepot}}
          {{/if}}
          {{#if isSteamDBACF}}
          {{> steamdbacf}}
          {{/if}}
          {{#if isSteamPowered}}
          {{> steampowered}}
          {{/if}}
        </div>
        <div class='modal-footer flex-column border-0'>
          <p>
            <strong>Protect</strong>
            development and free things,<br />because their survival is in our hands.
          </p>
          <p>
            You can donate by clicking on
            <a href='https://www.paypal.me/sak32009a' target='_blank'>paypal.me</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
